<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= siteTitle %> - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="<%= faviconPath %>" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rouge Script' rel='stylesheet'> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/public/css/style2.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="<%= faqLink %>">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="<%= helpLink %>">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="<%= supportLink %>">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="<%= facebookLink %>">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="<%= twitterLink %>">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="<%= linkedinLink %>">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="<%= instagramLink %>">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="<%= youtubeLink %>">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="<%= homeLink %>" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">Flora <span>Gems</span></h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="<%= searchAction %>">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products" name="searchQuery">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="<%= wishlistLink %>" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="<%= cartLink %>" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 210px">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">All Jewelleries <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="<%= ringsLink %>" class="dropdown-item">Rings</a>
                                <a href="<%= necklaceLink %>" class="dropdown-item">Necklace</a>
                                <a href="<%= earringsLink %>" class="dropdown-item">Earings</a>
                            </div>
                        </div>
                        <a href="<%= goldLink %>" class="nav-item nav-link">Gold</a>
                        <a href="<%= diamondLink %>" class="nav-item nav-link">Diamond</a>
                        <a href="<%= platinumLink %>" class="nav-item nav-link">Platinum</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

</body>

</html>
